html,
body,
.box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #222;
}

.box {
  font-size: 2.5em;
  width: 10em;
  height: 5em;
  background-color: #111;
  border-radius: 0.5em;
  text-align: center;
  line-height: 1.5em;
  font-family: sans-serif;
  position: relative;
  animation: animate_text 2s linear infinite alternate;
}

.box::before {
  content: '';
  position: absolute;
  width: calc(100% + 10%);
  height: calc(100% + 20%);
  border-radius: 0.5em;
  z-index: -1;
  /* 背景图倾斜60度，渐变色 */
  background-image: linear-gradient(60deg, aquamarine, cornflowerblue, goldenrod, hotpink, salmon, lightgreen, sandybrown, violet);
  background-size: 300%;
  animation: animate_bg 5s infinite;
}
/* 背景定位发生改变 */
@keyframes animate_bg {
  0%,
  100% {
    background-position: 0%, 50%;
  }
  50% {
    background-position: 100%, 50%;
  }
}
/* 字体颜色发生改变 */
@keyframes animate_text {
  from {
    color: lime;
  }
  to {
    color: yellow;
  }
}
