/* 模块1 */
.line.block2 span {
    display: inline-block;
    padding: 10px;
    position: relative;
}

.line.block2 span.block2_1,
.line.block2 span.block2_3 {
    padding: 0;
}

.line.block2 span.block2_2,
.line.block2 span.block2_4 {
    /* 上下边的动画变化加在外层span上 */
    /* 内层padding要减小，将多出的伪元素的2px的高度空出来 */
    margin: 0;
    padding: 10px;
}

.line.block2 .block2_1:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: #7e57c2;
    /* 定位中心在右边中心点 */
    /* 沿X轴缩放为0 */
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform 1s;
}

.line.block2 .block2_1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #7e57c2;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 1s;
}

.line.block2 .block2_1:hover:before {
    transform-origin: left center;
    transform: scaleX(1);

}

.line.block2 .block2_1:hover:after {
    transform-origin: right center;
    transform: scaleX(1);
}

.line.block2 .block2_2:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 40px;
    background-color: #7e57c2;
    transform: scaleY(0);
    transform-origin: top center;
    transition: transform 1s;
}

.line.block2 .block2_2:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 2px;
    height: 40px;
    background-color: #7e57c2;
    transform: scaleY(0);
    transform-origin: bottom center;
    transition: transform 1s;
}

.line.block2 .block2_2:hover:before {
    transform-origin: bottom center;
    transform: scaleY(1);

}

.line.block2 .block2_2:hover:after {
    transform-origin: top center;
    transform: scaleY(1);
}





.line.block2 .block2_3:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: #7e57c2;
    /* 定位中心在右边中心点 */
    /* 沿X轴缩放为0 */
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 1s;
}

.line.block2 .block2_3:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #7e57c2;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform 1s;
}

.line.block2 .block2_3:hover:before {
    transform: scaleX(1);

}

.line.block2 .block2_3:hover:after {
    transform: scaleX(1);
}

.line.block2 .block2_4:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 40px;
    background-color: #7e57c2;
    transform: scaleY(0);
    transform-origin: bottom center;
    transition: transform 1s;
}

.line.block2 .block2_4:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 2px;
    height: 40px;
    background-color: #7e57c2;
    transform: scaleY(0);
    transform-origin: top center;
    transition: transform 1s;
}

.line.block2 .block2_4:hover:before {
    transform: scaleY(1);

}

.line.block2 .block2_4:hover:after {
    transform: scaleY(1);
}