html,
body {
    height: 100%;
    // 伸缩布局 居中
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: navajowhite;
}

.box {
    display: flex;
}

.box .inner {
    width: 400px;
    height: 200px;
    line-height: 200px;
    font-size: 4em;
    font-family: sans-serif;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}
// 文字效果实际是两个部分
// 第一部分设定颜色，设定旋转的中心点在右侧，反向旋转
.box .inner:first-child {
    background-color: indianred;
    color: darkred;
    transform-origin: right;
    transform: perspective(100px) rotateY(-15deg);
}
// 第二部分设定颜色，设定旋转的中心点在左侧，正向旋转
.box .inner:last-child {
    background-color: lightcoral;
    color: antiquewhite;
    transform-origin: left;
    transform: perspective(100px) rotateY(15deg);
}

.box .inner span {
    position: absolute;
    animation: marquee 5s linear infinite;
}
// 左边的元素在2.5s的时候动画开始
.box .inner:first-child span {
    animation-delay: 2.5s;
    left: -100%;
}
// 动画效果是从右侧移动到左侧
@keyframes marquee {
    from {
        left: 100%;
    }

    to {
        left: -100%;
    }
}