<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      {{ message }}
    </div>

    <div id="app-2">
      <span v-bind:title="message">
        鼠标悬停几秒查看此处动态绑定的提示信息！
      </span>
    </div>

    <div id="app-3">
      <p v-if="seen">现在你看到我了</p>
    </div>

    <div id="app-4">
      <ol>
        <li v-for="list in todos">
          {{ list.text }}
        </li>
      </ol>
    </div>

    <div id="app-5">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">逆转消息</button>
    </div>

    <div id="app-6">
      <p>{{ message }}</p>
      <input v-model="message" />
    </div>

    <div id="app-7">
      <ol>
        <!-- 创建组件实例 -->
        <todo-item
          v-for="item in groceryList"
          v-bind:todo="item"
          v-bind:key="item.id"
        ></todo-item>
      </ol>
    </div>
    <script src="./vue.js"></script>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          message: "Hello Vue!"
        }
      });

      var app2 = new Vue({
        el: "#app-2",
        data: {
          message: "页面加载于" + new Date().toLocaleString()
        }
      });

      var app3 = new Vue({
        el: "#app-3",
        data: {
          seen: true
        }
      });

      var app4 = new Vue({
        el: "#app-4",
        data: {
          todos: [
            { text: "学习 JavaScript" },
            { text: "学习 Vue" },
            { text: "整个牛项目" }
          ]
        }
      });

      var app5 = new Vue({
        el: "#app-5",
        data: {
          message: "Hello Vue.js!"
        },
        methods: {
          reverseMessage: function() {
            // this指向的是整个app-5模块
            //message挂载的值是什么就对什么进行操作，并不针对p标签
            this.message = this.message
              .split("")
              .reverse()
              .join("");
          }
        }
      });

      var app6 = new Vue({
        el: "#app-6",
        data: {
          // message 赋一个初始值，input用model命令绑定，一旦input中的message发生改变，也会影响p中的message
          message: "Hello Vue!"
        }
      });

      // 注册组件，定义名为todo-item的新组件
      Vue.component("todo-item", {
        // props类似于一个自定义的特性
        props: ["todo"],
        template: "<li>{{todo.text}}</li>"
      });
      var app7 = new Vue({
        el: "#app-7",
        data: {
          groceryList: [
            { id: 0, text: "蔬菜" },
            { id: 1, text: "奶酪" },
            { id: 2, text: "随便其他什么能吃的东西" }
          ]
        }
      });
    </script>
  </body>
</html>
