html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #eee;
    position: relative;
    overflow: hidden;
}

.cloud {
    position: absolute;
    width: 1000px;
    height: 470px;
    top: 50%;
    left: 50%;
    margin-left: -500px;
    margin-top: -275px;
    z-index: 3;
    opacity: 0.8;
    overflow: hidden;
    display: none;
}

.cloud .block {
    position: absolute;
    width: 150px;
    height: 400px;
    margin-left: 0px;
    /* animation: cloud 5S infinite linear; */
}

.cloud .block .cl1 {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #fff;
    position: relative;
}

.cloud .block .cl2 div {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #fff;
    transform: rotate(45deg);
    /* animation: snow 5S infinite linear; */
}

.son {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    left: 300px;
    top: 200px;
    background-color: #ccc;
}

.land {
    position: absolute;
    width: 900px;
    height: 320px;
    top: 50%;
    left: 50%;
    margin-left: -450px;
    margin-top: -125px;
    /* background-color: #ccc; */
}

.land .bush {
    width: 100%;
    height: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #333;
}

.land .bush div {
    float: left;
    position: relative;
    width: 100px;
    height: 50px;
    border-radius: 50%;
    background-color: #333;
    top: -25px;
}

@keyframes cloud {
    0% {
        margin-left: 0px;
    }

    25% {
        margin-left: -50px;
    }

    50% {
        margin-left: 0px;
    }

    75% {
        margin-left: 50px;
    }

    100% {
        margin-left: 0px;
    }
}

@keyframes snow {
    0% {
        margin-top: 0px;
        opacity: 1;
    }

    100% {
        margin-top: 200px;
        opacity: 0;
    }

}