<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<script src="./vue.js"></script>

<body>
  <div id="app">
    {{message}}
  </div>
  <xmp>
    <div id="app">
      {{message}}
    </div>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          message: 'Hello Vue!'
        }
      })
    </script>
  </xmp>
  <div id="app2">
    <span v-bind:title="message">
      鼠标悬停几秒查看此处动态绑定的提示信息！
    </span>
  </div>
  <xmp>
    <div id="app2">
      <span v-bind:title="message">
        鼠标悬停几秒查看此处动态绑定的提示信息！
      </span>
    </div>
    <script>
      var app2 = new Vue({
        el: '#app2',
        data: {
          message: '页面加载于' + new Date().toLocaleString()
        }
      })
    </script>
  </xmp>

  <div id="app3">
    <p v-if="seen">现在你看到我了</p>
  </div>
  <xmp>
    <div id="app3">
      <p v-if="seen">现在你看到我了</p>
    </div>
    <script>
      var app3 = new Vue({
        el: '#app3',
        data: {
          seen: true
        }
      })
    </script>

  </xmp>
  <div id="app4">
    <ol>
      <li v-for="list in todos">
        {{list.text}}
      </li>
    </ol>
  </div>
  <xmp>
    <div id="app4">
      <ol>
        <li v-for="list in todos">
          {{list.text}}
        </li>
      </ol>
    </div>
    <script>
      var app4 = new Vue({
        el: '#app4',
        data: {
          todos: [{
              text: 'list1'
            },
            {
              text: 'list2'
            },
            {
              text: 'list3'
            }
          ]
        }
      })
    </script>
  </xmp>
  <div id="app5">
    <p>{{message}}</p>
    <button v-on:click="reverseMessage">逆转消息</button>
  </div>
  <xmp>
    <div id="app5">
      <p>{{message}}</p>
      <button v-on:click="reverseMessage">逆转消息</button>
    </div>
    <script>
      var app5 = new Vue({
        el: '#app5',
        data: {
          message: 'Hello Vue.js!'
        },
        methods: {
          reverseMessage: function () {
            this.message = this.message.split('').reverse().join('')
          }
        }
      })
    </script>
  </xmp>
  <div id="app6">
    <p>{{message}}</p>
    <input type="text" v-model="message">
  </div>
  <xmp>
    <div id="app6">
      <p>{{message}}</p>
      <input type="text" v-model="message">
    </div>
    <script>
      var app6 = new Vue({
        el: '#app6',
        data: {
          message: 'Hello Vue!'
        }
      })
    </script>
  </xmp>
  <div id="app7">
    <ol>
      <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
    </ol>
  </div>
  <xmp>
    <div id="app7">
      <ol>
        <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
      </ol>
    </div>
    <script>
      var app7 = new Vue({
        el: '#app7',
        data: {
          groceryList: [{
              id: 0,
              text: 'list1'
            },
            {
              id: 1,
              text: 'list2'
            },
            {
              id: 2,
              text: 'list3'
            }
          ]
        }
      })
    </script>
  </xmp>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!'
      }
    })
    var app2 = new Vue({
      el: '#app2',
      data: {
        message: '页面加载于' + new Date().toLocaleString()
      }
    })
    var app3 = new Vue({
      el: '#app3',
      data: {
        seen: true
      }
    })
    var app4 = new Vue({
      el: '#app4',
      data: {
        todos: [{
            text: 'list1'
          },
          {
            text: 'list2'
          },
          {
            text: 'list3'
          }
        ]
      }
    })
    var app5 = new Vue({
      el: '#app5',
      data: {
        message: 'Hello Vue.js!'
      },
      methods: {
        reverseMessage: function () {
          this.message = this.message.split('').reverse().join('')
        }
      }
    })
    var app6 = new Vue({
      el: '#app6',
      data: {
        message: 'Hello Vue!'
      }
    })

    Vue.component('todo-item', {
      props: ['todo'],
      template: '<li>{{todo.text}}</li>'
    })
    var app7 = new Vue({
      el: '#app7',
      data: {
        groceryList: [{
            id: 0,
            text: 'list1'
          },
          {
            id: 1,
            text: 'list2'
          },
          {
            id: 2,
            text: 'list3'
          }
        ]
      }
    })
  </script>
</body>

</html>