.block9 {
    background: #EAEAEA;
    position: relative;
}

.block9 .one {
    width: 80px;
    height: 80px;
    left: 50px;
    top: 50px;
    position: absolute;
}

.block9 .one div {
    position: absolute;
    /* background-color: #E5E2DB; */
    border: 1px solid #C55F87;
    box-sizing: border-box;
}

.block9 .one div:nth-child(1) {
    border: 2px solid #C55F87;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.block9 .one div:nth-child(2) {
    width: 1px;
    height: 74px;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
}

.block9 .one div:nth-child(3) {
    width: 25px;
    height: 1px;
    left: 2px;
    top: 28px;
}

.block9 .one div:nth-child(4) {
    width: 13px;
    height: 26px;
    border-radius: 0 13px 13px 0;
    border: 2px solid #C55F87;
    left: 25px;
    top: 4px;
}

.block9 .one div:nth-child(5) {
    width: 24px;
    height: 48px;
    border-radius: 0 24px 24px 0;
    border: 2px solid #C55F87;
    left: 25px;
    top: 29px;
}

.block9 .two {
    color: #4D5B9A;
    position: absolute;
    left: 50px;
    top: 200px;
}

.block9 .three {
    position: absolute;
    left: 125px;
    top: 200px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: linear-gradient(to bottom right, #757FB4, #4D5B9A);
    box-shadow: 40px 40px 200px #666;
    z-index: 2;
}

.block9 .four {
    width: 1000px;
    position: absolute;
    left: 300px;
    height: 560px;
    background-color: #E1CED0;
}

.block9 .five {
    width: 1120px;
    height: 1120px;
    border-radius: 50%;
    position: absolute;
    right: -560px;
    top: 0;
    background-color: #C55F87;
}

.block9 .six {
    width: 180px;
    height: 70px;
    position: absolute;
    right: 50px;
    bottom: 50px;
}

.block9 .six div:nth-child(1) {
    position: absolute;
    left: -15px;
    top: 20px;
    width: 70px;
    height: 30px;
    transform: rotate(-90deg);
    color: #fff;
}

.block9 .six div:nth-child(2) {
    position: absolute;
    left: 30px;
    top: 0px;
    width: 150px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}